<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <handlers>
        <add name="listnode" path="server/server.js" verb="*" modules="listnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Chat4Spidernew">
            <match url="/*" />
            <conditions>
              <add input={PATH_INFO} pattern=".+\.js\/debug\/" negate="true" />
            </conditions>
            <action type="Rewrite" url="server/server.js" />
        </rule>
      </rules>
    </rewrite>
    <listnode node_env="production"
      loggingEnabled="true"
      debuggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
    />
  </system.webServer>
</configuration>